.container {
  max-width: 500px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  position: relative;
  display: flex;
  flex-direction: column;
}

.text {
  text-align: justify;
  margin-bottom: 10px;
}

.highlighter {
  display: none;
}

.highlighterActive {
  display: inline;
}

.highlighterWord {
  font-weight: bold;
}

.delete {
  position: absolute;
  right: -30px;
  top: 0;

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.tags {
  display: flex;
  padding-left: 0;
  padding-top: 10px;
}

.tag {
  list-style: none;
  margin-right: 10px;
  padding: 5px;

  border: 1px solid black;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.tagActive {
  background-color: black;
  color: white;
}